/* common.css 모든 웹페이지 공통 css == common */
/* common.css == header,footer 공통영역 디자인 */
/* Firefox */
html {scrollbar-width: 10px;;scrollbar-color: #222 #f1f1f1;}
/* Opera */
html::-o-scrollbar {width: 10px;}/*스크롤바 크기*/
html::-o-scrollbar-thumb {background-color: #222;border-radius: 5px;}/*스크롤 드래그바*/
html::-o-scrollbar-thumb:hover {background-color: #555;}
/* Chrome, Safari, Edge 등 웹킷 기반 브라우저 */
::-webkit-scrollbar {width: 10px;}/*스크롤바 크기*/
::-webkit-scrollbar-track {box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);}/*스크롤바 배경*/
::-webkit-scrollbar-thumb {background-color: #222;border-radius: 5px;}/*스크롤 드래그바*/
::-webkit-scrollbar-thumb:hover {background-color: #555;}
/* header */
header {
    /* background:pink; */
    width:calc(100% - 60px); height:100px; margin:0 auto; 
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
}
header h1 {width:213px;}
header h1 a {}
header h1 a img {width:100%;}
header .right {
    display:inline-flex; flex-flow:row nowrap; align-items:center;
}
header .right >* {margin-right:15px;}
header .right .lang {
    display:block; font-size:1.25rem;
}
header .right #searchFrm {}
header .right #searchFrm fieldset {
    width:400px; height:40px; border-radius:15px;
    padding:0 20px;
    background:#222;
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;
}
header .right #searchFrm fieldset #searchTxt {
    background:none; color:#fff;
    width:calc(100% - 30px);
}
header .right #searchFrm fieldset #searchTxt::placeholder {color:#fff;}
header .right #searchFrm fieldset #searchBtn {
    background:none; width:30px; height:30px;
}
header .right #searchFrm fieldset #searchBtn img {width:100%;}
header .right #login, header .right #cart, header .right #nav {width:40px; height:40px;}
header .right img* {width:100%;}
header .right #login {}
header .right #login img {}
header .right #cart {}
header .right #cart img {}
header .right #nav {margin-right:0;}
header .right #nav img {}
/* open_nav */
header #open_nav {
    position:fixed; left:0; top:0; z-index:9999;
    width:100%; height:100vh; background:#f1f1f1;
    overflow-y:auto; 
    /* 웹브라우저 y축 기준으로 내용이 넘칠 경우 스크롤을 표시하고 넘치치 않다면 스크롤 숨김 */
    /* display:none; */
}
header #open_nav #nav_close {
    width:20px; height:20px; 
    position:absolute; top:122px; right:100px;
    transform:scale(1); transition:all 0.5s;
}
header #open_nav #nav_close:hover {
    transform:scale(1.3); background:url(../images/nav_close_hover.png);
}
header #open_nav #nav_close img {width:100%}
/* swiper-slide nav-adver */
header #open_nav #nav_adver {
    display:flex; flex-flow:row nowrap;
    margin-bottom:30px; margin-top:20px;
    max-width:1000px; height:45px;
}
header #open_nav #nav_adver .swiper-wrapper {}
header #open_nav #nav_adver .swiper-wrapper .swiper-slide {text-align:center;}
header #open_nav #nav_adver .swiper-wrapper .swiper-slide a {
    font-size:1.333rem; line-height:24px;
}
header #open_nav #nav_adver .swiper-button-prev,
header #open_nav #nav_adver .swiper-button-next {
    width:24px; height:24px;
}
header #open_nav #nav_adver .swiper-button-prev {
    background:url(../images/nav_prev.png) no-repeat;
}
header #open_nav #nav_adver .swiper-button-next {
    background:url(../images/nav_next.png) no-repeat;
}
header #open_nav #nav_adver .swiper-button-prev::after,
header #open_nav #nav_adver .swiper-button-next::after {display:none;}
/* open-nav */
header #open_nav nav {
    display:flex; flex-flow:column nowrap; align-items:center;
}
header #open_nav nav a {
    font-size:3.157rem; font-weight:700; 
    letter-spacing:-0.02em; line-height:150px;
    color:black; transition:0.5s;
}
header #open_nav nav a::after {
    content:'';
    width:100%; height:5px; border-radius:5px;
    background:hsl(346, 66%, 44%, 0.8);
    margin-top:-30px;
    display:block; transform:scaleX(0); transition:0.5s;
}
header #open_nav nav a:hover {color:#BB2649;}
header #open_nav nav a:hover::after {transform:scaleX(1)}

/* footer */
footer {width:calc(100% - 60px); margin:0 auto; padding-top:50px;}
footer .f_menu {display:flex; flex-flow:row nowrap; margin-bottom:50px;}
/* footer -f_menu 공통영역 */
footer .f_menu dl {margin-right:100px;}
footer .f_menu dl >* {line-height:30px; letter-spacing:-0.02rem;}
footer .f_menu dl dt {font-size:1.333rem; font-weight:500; margin-bottom:20px;}
footer .f_menu dl dd a {font-weight:normal; color:black; transition:all 0.2s}
footer .f_menu dl dd a:hover {font-weight:700; color:#BB2649;}
footer .f_menu .service {}
footer .f_menu .service {}
footer .f_menu .service dt {}
footer .f_menu .service dd {}
footer .f_menu .service dd a {}
footer .f_menu .law {}
footer .f_menu .law dt {}
footer .f_menu .law dd {}
footer .f_menu .law dd a {}
footer .f_menu .sns {}
footer .f_menu .sns dt {}
footer .f_menu .sns dd {}
footer .f_menu .sns dd a {}
/* footer - f_copy */
footer .f_copy {display:flex; flex-flow:row nowrap; justify-content:space-between;}
footer .f_copy .logo {width:213px; height:40px; margin-right:50px; margin-top:10px;}
footer .f_copy .logo img {width:100%;}
footer .f_copy address {width:1000px; line-height:30px; letter-spacing:-0.02rem;}
footer .f_copy address a {text-decoration-line:underline;}