/* main */
/* main - 1. visual */
main {}
main .visual {
    position:relative;
    height:100vh; overflow:hidden;
}
main .visual .txt {
    /* background:palevioletred;   */
    width:100%; text-align:center;
    position:absolute; top:55%; z-index:999;
}
main .visual video {
    width:100%;
    /* 화면 크기 조정시 비디오 중심축 맞추기 */
    /* 조건: ★ 비디오의 부모가 vh 또는 px 높이 설정 준비  */
    position:absolute; left:50%;
    transform:translateX(-50%);
    /* width:1920px; */ /* 방법3:절대크기값 */
}
/* 와이드 비율의 video 화면 전체 배치 시 여백해결법 */
/* 1. 반응형웹 @media 특정해상도마다 비디오의 크기 설정값 변경 */
/* 2. 가장 큰 데스크탑 기준으로 너비를 100%보다 크게 설정하고 넘치게 하는 방법 */
/* 3. 상대크기가 아닌 절대크기값(px) 크기를 설정해서 화면 해상도에 영향을 받지 않는 방법 */
main .visual .txt p {
    font-size:2.369rem; letter-spacing:-0.02em; /* color:#fff; */
}
main .visual .txt h1 {
    font-size:3.157rem; font-weight:700; letter-spacing:-0.02em;
    color:#fff; margin:20px 0;
    
}
main .visual .txt .link {z-index:999px;}
main .visual .txt .link a {
    width:250px; padding:10px; background:#222;
    font-size:1.777rem; color:#fff; text-align:center;
    display:inline-block; margin-right:10px;  
    transition:all 0.3s;
}
main .visual .txt .link a:hover {background:#f1f1f1; color:#222;}
main .visual .txt .link a:last-child {margin-right:0}
/* main adver-bnr */
main .adver_bnr {
    width:100%; height:300px;
    background:url(../images/adver_bnr.jpg) no-repeat;
    background-size:cover;
}
main .adver_bnr .txt {
    /* contents width px */
    max-width:1200px; margin:0 auto;
    padding:75px 0;
    background:palegoldenrod;
}
main .adver_bnr .txt p {
    font-size:1.777rem; letter-spacing:-0.02em;
}
main .adver_bnr .txt h1 {
    font-size:3.157rem; font-weight:700; letter-spacing:-0.02em;
    margin:20px 0;
}
main .adver_bnr .txt .link {}
main .adver_bnr .txt .link a {
    width:150px; padding:10px; background:#222;
    font-size:1.333rem; letter-spacing:-0.02em;
    color:#fff; text-align:center;
    display:inline-block; margin-right:10px;  
    transition:all 0.3s;
}
main .adver_bnr .txt .link a:hover {
    background:#f1f1f1; color:#222;}
/* main 3.service */
/* 공통디자인 영역 */
main #online_service .txt,
main #shop_service .txt { 
    background:#fff; max-width:830px; 
    padding-top:61px;
}
main #online_service .txt h1,
main #shop_service .txt h1 { 
    font-size:3.157rem; font-weight:700; letter-spacing:-0.02em;
}
main #online_service .txt p,
main #shop_service .txt p {
    font-size:1.333rem; letter-spacing:-0.02em; line-height:35px;
    margin:20px 0; 
}
main #online_service .txt .service_link, 
main #shop_service .txt .service_link {
    padding:10px 60px; background:#222;
    font-size:1.777rem; letter-spacing:-0.02em;
    display:inline-block;
    color:#fff; text-align:center;
    transition:all 0.3s; 
}
main #online_service .txt .service_link:hover, 
main #shop_service .txt .service_link:hover {background:#f1f1f1; color:#222;}

/* 개별 디자인 영역 */
/* 온라인 서비스 */
main #online_service {
    background:url(../images/service_bg1.jpg) no-repeat;
    background-position:right center;
    background-size:80%;
    padding-top:87px; margin-top:103px;
}
main #online_service .txt {
    background:#fff; padding-left:70px;
}
main #online_service .txt h1 {}
main #online_service .txt p {width:565px;}
main #online_service .txt .service_link {}
/* 매장 서비스 */
main #shop_service {
    background:url(../images/service_bg2.jpg) no-repeat;
    background-position:left center;
    background-size:80%;
    padding-top:87px; /* padding-left:640px; */
    margin-top:103px;
    display:flex; flex-flow:row-reverse;
}
main #shop_service .txt {
    background:#fff; padding-right:70px;
    text-align:right;
}
main #shop_service .txt h1 {}
main #shop_service .txt p {width:580px;}
main #shop_service .txt .service_link {}
