main {}
/* 1.  swiper-slide */
main #product_slide {margin-bottom:100px;}
main #product_slide .swiper-wrapper {}
main #product_slide .swiper-wrapper .swiper-slide {
    width:700px; height:740px;
    position:relative; 
}
main #product_slide .swiper-wrapper .swiper-slide .txt {
    position:absolute; left:28px; bottom:40px;
    /* 초기 숨기기 (이후 swiper 활용 서서히 나타나고 사라지기 기능 추가) */
    opacity:0; transform:translateX(30px);
    transition:all 2s;
}
main #product_slide .swiper-wrapper .swiper-slide .txt h1 {
    font-size:2.375rem; font-weight:500; 
    line-height:50px; letter-spacing:-0.02rem;
}
main #product_slide .swiper-wrapper .swiper-slide .txt h1 em {
    font-size:2.375rem; font-weight:700;
    line-height:50px; letter-spacing:-0.02rem;
}
main #product_slide .swiper-wrapper .swiper-slide .txt p {
    font-size:1.333rem; font-weight:500;
    line-height:60px; letter-spacing:-0.02rem;
}
/* slide 개별영역 */
main #product_slide .swiper-wrapper .slide1 {background-image:url(../images/model/model_03.jpg);}
main #product_slide .swiper-wrapper .slide2 {background-image:url(../images/model/model_01.jpg);}
main #product_slide .swiper-wrapper .slide3 {background-image:url(../images/model/model_02.jpg);}
main #product_slide .swiper-wrapper .slide4 {background-image:url(../images/model/model_16.jpg);}
main #product_slide .swiper-wrapper .slide5 {background-image:url(../images/model/model_06.jpg);}
main #product_slide .swiper-wrapper .slide6 {background-image:url(../images/model/model_04.jpg);}
/* 개별 글자색 변경 영역 */
main #product_slide .swiper-wrapper .slide1 .txt,
main #product_slide .swiper-wrapper .slide4 .txt {color:#fff;}
/* swiper-scrollbar 디자인 */
main #product_slide .swiper-scrollbar {
    width:500px; 
    left:50%; bottom:20px; transform:translateX(-50%); /* 중심 배치 */
    background:#f1f1f1;
} /* 스크롤 배경 (크기, 위치O) */
main #product_slide .swiper-scrollbar-drag {
    background:#222;
} /* 스크롤 막대 (크기X) */ 
/* 2. category */
main #category {
    width:60%; margin:0 auto;
    display:flex; flex-flow:row nowrap; justify-content:space-between;
    margin-bottom:100px;
}
main #category a {
    display:flex; flex-flow:column nowrap; 
    justify-content:center; align-items:center;
    margin-right:20px;
}
main #category a:hover img {
    border:1px solid #222; border-radius:50%;
    transform:scale(1.1);
}
main #category a:last-child {margin-right:0;}
main #category a img {
    width:100%;
    border:none; border-radius:50%; transform:scale(1);
    transition:all 0.7s
}
main #category a span {margin-top:10px; letter-spacing:-0.04rem;}
/* product_list */
main #product_list {width:90%; margin:0 auto;}
main #product_list .title {}
main #product_list .title .title_top {
    display:flex; flex-flow:row nowrap; 
    justify-content:space-between;
    padding:20px 0; border-bottom:1px solid black;
    margin-bottom:30px;
}
main #product_list .title .title_top h1 {font-size: 2.375rem; font-weight:700;}
main #product_list .title .title_top .filter {
    align-self:flex-end;
}
main #product_list .title .title_top .filter a {
    font-size:1rem; letter-spacing:-0.02rem; padding:10px 5px;
    margin-right:20px;
}
main #product_list .title .title_top .filter a:hover {font-weight:500;}
main #product_list .title .title_top .filter a:last-child {margin-right:0;}
main #product_list .title .title_btm {
    display:flex; flex-flow:row nowrap; 
    justify-content:space-between; align-items:center;
    margin-bottom:70px;
}
main #product_list .title .title_btm p {font-size:1rem; letter-spacing:-0.02rem;}
main #product_list .title .title_btm p em {font-weight:700;}
main #product_list .title .title_btm select {border:none;}
main #product_list .title .title_btm select option {}
main #product_list .container {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
}
main #product_list .container .item {
    /* width:calc(20% - 20px); */
    margin-right:10px;
}
main #product_list .container .item:last-child {margin-right:0;}
main #product_list .container .item .img {
    position:relative; width:100%;
    margin-bottom:10px;
}
main #product_list .container .item .img .item_img {}
main #product_list .container .item .img .item_img img {width:100%;}
main #product_list .container .item .img .like_img {
    position:absolute; right:5px; top:5px;
    width:20px; height:20px;
}
main #product_list .container .item .img .like_img img {width:100%;}
main #product_list .container .item .txt {}
main #product_list .container .item .txt >* {margin-bottom:10px;}
main #product_list .container .item .txt h2 {}
main #product_list .container .item .txt h2 a {}
main #product_list .container .item .txt .brand {}
main #product_list .container .item .txt .price {}
main #product_list .container .item .txt .color_list {margin-bottom:0;}
main #product_list .container .item .txt .color_list span {
    display:inline-block;
    border-radius:50%; margin-right:5px;
    width:20px; height:20px; background-color:black;
}
/* 상품1 */
main #product_list .container .item .txt .color_list .color1 {background-color:black;}
main #product_list .container .item .txt .color_list .color2 {background:grey;}
main #product_list .container .item .txt .color_list .color3 {background:lightgrey;}
main #product_list .container .item .txt .color_list .color4 {background:#66412e;}
main #product_list .container .item .txt .color_list .color5 {background:#4e4f4e;}
main #product_list .container .item .txt .color_list .color6 {background:#286a6d;}
/* 상품2 */
main #product_list .container .item2 .txt .color_list .color1 {background-color:black;}
main #product_list .container .item2 .txt .color_list .color2 {background:silver;}
main #product_list .container .item2 .txt .color_list .color3 {background:gold;}
/* 상품3 */
main #product_list .container .item3 .txt .color_list .color1 {background-color:paleturquoise;}
main #product_list .container .item3 .txt .color_list .color2 {background:burlywood;}
main #product_list .container .item3 .txt .color_list .color3 {background:white;}